body {
  margin: 0;
  background-color: #FCF7EE;
  color: #3F342C;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

:root {
  --bg-offset: #F6E7CB;
  --bg-offset-light: #FEEAC6; 
  --text: hsl(200, 15%, 8%);
  --gray: hsl(0, 0%, 52%);
  --border: rgba(0, 0, 0, 0.1);
}



/* ----------- Scrollbar ----------- */

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ffff;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #5F4F44;    /* color of the scroll thumb */
  border-radius: 1px;
}



/* ----------- Footer ----------- */
footer {
  background-color: #D4422F;
  font-size: 10px;
}



/* ----------- Headers ----------- */

.navbar-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.nav-item{
  padding-left: 20px;
}

.homeheader .nav-link {
  color: #3F342C;
}

.homeheader .navbar{
  background-color: #FCF7EE;
}

.searchheader .navbar {
  background-color: #D4422F;
}

.searchheader .nav-link {
  color: #FCF7EE;
}


/* ----------- Homepage ----------- */

.home::-webkit-scrollbar {
  display: none;
}

.search-by-category ul {
    text-align: center;
    padding-inline-start: 0px;
}

.search-by-category a {
    text-decoration: none;
}

.search-by-category {
    position: flex;
    margin: 30px 50px 30px 50px;
    background: var(--bg);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-by-category .card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 5fr));
    grid-gap: 48px;
}

.search-by-category .card {
    background-color: var(--bg-offset);
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-radius: 5px;
}

.search-by-category .card:hover {
    transform: scale(1.1);
}

.search-by-category .card-image {
    max-height: 185px;
}

.search-by-category .card img {
    width: 140px;
    max-width: 140px;
    object-fit: cover;
    object-position: center;
    margin-top: 15%;
    filter: invert(27%) sepia(21%) saturate(437%) hue-rotate(341deg) brightness(97%) contrast(95%);
}

.search-by-category .card-content {
    padding: 15px;
    color: #54453B;
    overflow: visible;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
}

.search-by-category .card-grid li {
    display: inline-block;
    cursor: pointer;
}

.search-by-category .card-content h2 {
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: visible;
}



/* ----------- About ----------- */

.about {
  padding-top: 100px;
}


/* ----------- Contact ----------- */

.contact {
  padding-top: 143px;
}


/* ----------- Advanced Search ----------- */

.advanced-search {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.terms-dictionary {
  background-color: white;
  margin: 50px 15px 0px 100px;
  height: 660px;
  margin-bottom: 0px;
  overflow-y: scroll;
  padding: 45px;
}

.terms-dictionary::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.terms-dictionary::-webkit-scrollbar-track {
  background: #ffff;        /* color of the tracking area */
}

.terms-dictionary::-webkit-scrollbar-thumb {
  background-color: #5F4F44;    /* color of the scroll thumb */
  border-radius: 1px;
}


/* ----------- Search Results ----------- */

.card::after,
.card::before {
    margin: 0;
    padding: 0;
}

.wrapper img {
    width: 100%;
}

.wrapper ul {
    text-align: center;
    padding-inline-start: 0px;
}

.wrapper ol {
    margin: 30px auto;
    width: 4080px;
    list-style: none;
}

.wrapper h1,
.wrapper h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-size: 16px;
    max-height: 10px;
    padding: 5px;
}

.wrapper a {
    text-decoration: none;
}

.wrapper {
    position: flex;
    margin: 30px 50px 30px 50px;
    background: var(--bg);
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-style: italic;
}

.wrapper .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
    grid-gap: 48px;
}

.wrapper .card {
    background-color: var(--bg-offset);
    padding: 0px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-radius: 5px;
}

.wrapper .card:hover {
    transform: scale(1.1);
}

.wrapper .card-image {
    max-height: 185px;
}

.wrapper .card img {
    height: 160px;
    width: 70%;
    object-fit: cover;
    object-position: center;
    margin-top: 15%;
}

.wrapper .card-content {
    padding: 15px;
    color: #54453B;
    overflow: visible;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: grid;
}

.wrapper .card-grid li {
    display: inline-block;
    cursor: pointer;
}

.wrapper .card-content h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: visible;
}


/* ----------- Faceted Search ----------- */

.vaseDiv {
  width: 100%;
  height: 100%;
  right: 0px;
  display: absolute;
  padding-top: 143px;
  padding-right: 45px;
}

.vaseDiv th {
  width: 150px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.vaseDiv td{
  padding-bottom: 10px;
}


